<p>website works!</p>
<div>
    <a [routerLink]="['/video', myVideoID]" routerLinkActive="router-link-active">Zum Video-Portal</a> 
    <p class="router-link-active">Der Etherium-Kurs lautet: {{priceInEur}}</p>
</div>
