<p (click)="myClickHandler($event)">video works!</p>
<a [href]="url">Meine Homepage</a>
<ol>
    <li *ngFor="let video of videos; index as i; first as f; last as l; even as e; odd as o">
        <span *ngIf="e; then applies else other">DAS WIRD NICHT ANGEZEIGT{{video}}</span>
        <ng-template #applies><span style="color: blue;">{{video}}</span></ng-template>
        <ng-template #other><span style="color: red;">{{video}}</span></ng-template>
    </li>
</ol>
<div>
    <a routerLink="/website">Zum Web-Site-Portal</a> 
</div>