<div class="container">
  <div class="display-4">
    {{ title }}
    </div>
    <router-outlet></router-outlet>
    <div>
      <input class="form-control mb-2" type="text" [(ngModel)]="newAnimal.name"/>
      <input class="form-control  mb-2" type="text" [(ngModel)]="newAnimal.type"/>
      <button class="btn btn-primary mb-2" (click)="addAnimal()">+ Hinzufügen</button>
    </div>
    
    <div class="card">
      <div class="card-header">
        <h5>Auflistung aller Tiere </h5>
      </div>
      <div class="card-footer">
        <div *ngFor="let animal of animals">
          {{ animal.name}} ({{animal.type}})
          <button class="btn btn-danger bnt-sm" (click)="deleteAnimal(animal)">x</button>
        </div> 
      </div>
    </div>
</div>